<main>
  <section class="header">
    <h1>Zeebaars</h1>
    <h3>Fishing Companion for Animal Crossing: New Horizons</h3>
    <p>
      It is currently <span class="highlight">{{month}}</span> in your timezone. The local time is past <span
        class="highlight">{{time}}:00</span>.
    </p>
    <p>
      Currently, only the <span class="highlight">Northern Hemisphere</span> is supported.
    </p>
  </section>
  <section class="locations">
    <!-- <h4>Where are you fishing?</h4> -->
    <mat-grid-list class="location-list" cols="3" rowHeight="12:2">
      <mat-grid-tile>
        <div class="locationSelect" id="loc-pier" (click)="selectLocation(5)">
          <span class="location-text">
            Pier
          </span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="locationSelect" id="loc-sea" (click)="selectLocation(4)">
          <span class="location-text">
            Sea
          </span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="locationSelect" id="loc-river" (click)="selectLocation(0)">
          <span class="location-text">
            River
          </span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="locationSelect" id="loc-mouth" (click)="selectLocation(1)">
          <span class="location-text">
            Mouth
          </span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="locationSelect" id="loc-cliff" (click)="selectLocation(2)">
          <span class="location-text">
            Cliff
          </span>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="locationSelect" id="loc-pond" (click)="selectLocation(3)">
          <span class="location-text">
            Pond
          </span>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </section>

  <section class="data">
    <h4>
      Fish currently spawning at: <span class="highlight">{{location}}</span>
    </h4>

    <div class="table">
      <table mat-table [dataSource]="fishList" class="mat-elevation-z5 ttt">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
  
        <!-- Position Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let fish"><img src="{{fish.image}}"> <pre></pre> {{fish.name}}  </td>
        </ng-container>
  
        <!-- Name Column -->
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef> Sell Price </th>
          <td mat-cell *matCellDef="let fish"> {{fish.price}} Bells </td>
        </ng-container>

        <ng-container matColumnDef="boxprice">
          <th mat-header-cell *matHeaderCellDef> Box Price </th>
          <td mat-cell *matCellDef="let fish"> {{getBoxPrice(fish.price)}} Bells </td>
        </ng-container>

        <ng-container matColumnDef="shadow">
          <th mat-header-cell *matHeaderCellDef> Shadow Type </th>
          <td mat-cell *matCellDef="let fish"> {{getShadowType(fish.shadow)}} </td>
        </ng-container>

        <ng-container matColumnDef="time">
          <th mat-header-cell *matHeaderCellDef> Spawn Time </th>
          <td mat-cell *matCellDef="let fish"> {{fish.time}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
      </table>
    </div>

  </section>
</main>